.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header.surface {
  border-radius: 0;
  border-left: none;
  border-right: none;
  border-top: none;
}