.post {
  background: linear-gradient(0deg, var(--color-black) 0%, var(--color-black-opacity-1) 100%);
  border: 0.2rem double var(--color-primary);
  box-shadow: -0.3rem -0.3rem 0 var(--color-primary), 0.3rem 0.3rem 0 var(--color-secondary);
  padding: 1.5rem;
}

.post__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}