.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

/* melhora contraste no fundo animado */
.header.surface {
  background-color: var(--color-black-opacity-1);
  backdrop-filter: blur(6px);
  border-bottom: 1px solid var(--color-primary);
}