app-layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  width: 100%;
}

/* main centralizado */
app-layout>main {
  margin: 0 auto;
  padding: clamp(1rem, 3vw, 3rem);
  width: min(1200px, 90%);
}