.carousel__btn {
  background: none;
  border: none;
  font-weight: 900;
  font-size: 3rem;
  cursor: pointer;
  color: var(--color-text);
  text-shadow: -0.15rem -0.15rem 0 var(--color-primary), 0.15rem 0.15rem 0 var(--color-secondary);

}

.carousel__btn:hover {
  text-shadow: -0.15rem -0.15rem 0 var(--color-secondary), 0.15rem 0.15rem 0 var(--color-primary);
}


#projects {
  background: none;
  border: none;
  box-shadow: none;
  position: relative;
}

.project__card {
  background: var(--color-black-opacity-1);
  border: 0.2rem double var(--color-secondary);
  box-shadow: 0 0 0.6rem var(--color-black-opacity-1), 0 0 1.9rem var(--color-black-opacity-2), 0 0 3.45rem var(--color-secondary);
  display: flex;
  flex: 0 0 280px;
  flex-direction: column;
  justify-content: space-between;
  max-width: 280px;
  position: relative;
  transition: transform 0.2s ease;
}

.project__card h3,
.project__card p,
.project__footer {
  align-items: center;
  padding: 1rem;
}

.project__card:hover {
  border: 0.2rem solid var(--color-primary);
  box-shadow: 0 0 0.6rem var(--color-black-primary), 0 0 1.9rem var(--color-black-primary);
  transform: translateY(-4px);
}

.projects__carousel {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.project__description {
  flex-grow: 1;
}

.project__footer {
  background: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;
}

.project__footer a {
  font-size: 0.8rem;
}

.projects__track {
  display: flex;
  gap: 2rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 1rem;
}

.projects__track::-webkit-scrollbar {
  display: none;
}

.project__title {
  word-break: break-word;
  overflow-wrap: break-word;
}

.projects__viewport {
  max-width: calc((333px * 3) + (2rem * 3));
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}