@media (max-width: 768px) {
  .post__content {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .header {
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  app-layout>main {
    margin-top: 6rem;
  }

  app-clock {
    align-self: center;
    text-align: center;
  }

  .header {
    align-items: stretch;
    flex-direction: column;
    font-size: 0.85rem;
  }

  .nav {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: auto;
    width: 70%;
  }
}